<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                <h1 class="text-secondary">Liste des categories</h1>
                <form method="get" th:action="@{categories}" class="row justify-content-center">
                    <input name="keyword" type="text" class="form-control" th:value="${keyword}"  placeholder="Nom...">
                    <button type="submit" class="btn btn-outline-success m-2">Chercher</button>
                </form>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th> ID </th>
                        <th> Designation </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c:${categories}">
                        <td th:text="${c.id}"></td>
                        <td th:text="${c.designation}"></td>
                        <td>
                            <a class="btn btn-outline-secondary" th:href="@{updateCat(id=${c.id}, key=${keyword}, page=${currentPage})}">Modifier</a>
                        </td>
                        <td>
                            <a onclick="return confirm('Etes vous sure?')" class="btn btn-danger" th:href="@{deleteCat(id=${c.id})}">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                

                <ul class="nav nav-pills">
                    <li th:each="page, status:${pages}">
                        <a th:class="${status.index==currentPage?'btn btn-secondary m-1':'btn btn-outline-secondary m-1'}"
                           th:text="${status.index}"
                           th:href="@{produits(page=${status.index}, keyword=${keyword})}"></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
</body>
</html>



