<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                <h1 class="text-secondary">Liste des Produits</h1>
                <form method="get" th:action="@{produits}" class="row justify-content-center">
                    <input name="keyword" type="text" class="form-control" th:value="${keyword}"  placeholder="Nom...">
                    <button type="submit" class="btn btn-outline-success m-2">Chercher</button>
                </form>
            </div>
            <div class="card-body">
                <div class="row">
                    <div th:each="p:${produits}" class="card col-6 m-3" style="width: 18rem;">
                        <img th:if="${p.getCat().getDesignation() == 'Boisson'}" style="height: 200px" src="https://images.absolutdrinks.com/drink-images/Raw/Absolut/72e8f521-50cf-45bf-80ec-1abf3baec30a.jpg?imwidth=500" class="card-img-top" alt="...">
                        <img th:if="${p.getCat().getDesignation() == 'Hamburger'}"  src="https://assets.epicurious.com/photos/57c5c6d9cf9e9ad43de2d96e/master/pass/the-ultimate-hamburger.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 th:text="${p.nomPrd}" class="card-title"></h5>
                            <p th:text="${p.description}" class="card-text"></p>
                            <p th:text="${p.prixUt}" class="card-text"></p>
                            <a class="btn btn-outline-info" th:href="@{detail(id=${p.id})}">Consulter</a>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-pills">
                    <li th:each="page, status:${pages}">
                        <a th:class="${status.index==currentPage?'btn btn-secondary m-1':'btn btn-outline-secondary m-1'}"
                           th:text="${status.index}"
                           th:href="@{produits(page=${status.index}, keyword=${keyword})}"></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
</body>
</html>



